.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;

  .item {
    border: black solid 1px;
    flex-shrink: 1;
  }

  .box1 {
    height: 30px;
    width: 50px;
  }

  .box2 {
    height: 40px;
    width: 20px;
  }

  .box3 {
    height: 50px;
    width: 15px;
  }

  .box4 {
    height: 60px;
    width: 15px;
  }

  .box5 {
    height: 70px;
    width: 20px;
  }

  .box6 {
    height: 80px;
    width: 50px;
  }
}
